<!-- Creating Event Form -->

{% extends 'base.html' %}
{% block title %}Create Event — Evenza{% endblock %}
{% block content %}

<div class="row justify-content-center">
    <div class="col-md-7">
        <div class="card p-4 mt-3">

            <h4 class="mb-4">Create New Event</h4>

            <form method="POST" enctype="multipart/form-data">

                <div class="mb-3">
                    <label class="form-label">Event Title *</label>
                    <input type="text" name="title" class="form-control" 
                           placeholder="e.g. Tech Fest 2025" required>
                </div>

                <div class="mb-3">
                    <label class="form-label">Description</label>
                    <textarea name="description" class="form-control" 
                              rows="3" placeholder="What is this event about?"></textarea>
                </div>

                <div class="mb-3">
                    <label class="form-label">Venue *</label>
                    <input type="text" name="venue" class="form-control" 
                           placeholder="e.g. Seminar Hall, Block A" required>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label class="form-label">Date & Time *</label>
                        <input type="datetime-local" name="date" 
                               class="form-control" required>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="form-label">Capacity *</label>
                        <input type="number" name="capacity" class="form-control" 
                               placeholder="e.g. 100" min="1" required>
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label">Event Poster (optional)</label>
                    <input type="file" name="poster" class="form-control" 
                           accept="image/*">
                    <div class="form-text">JPG, PNG only. Max 2MB.</div>
                </div>

                <div class="d-grid mt-4">
                    <button type="submit" class="btn btn-primary">
                        Submit Event for Approval
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>

{% endblock %}